@keyframes scale {
  0% {transform: scale(0);}
  25% {transform: scale(1);}
  50% {transform: scale(1.2);}
  75% {transform: scale(1);}
  100% {transform: scale(0);}
}

body, html {
  background: #2a2a2a;
  color: white;
}

.container {
  position: relative;
}

.sparkle {
  animation: scale 800ms;
}